static/portfolio.dtd

<!ELEMENT portfolio (block+)>

<!ELEMENT block (content+)>
<!ATTLIST block id ID #REQUIRED>

<!ELEMENT content (#PCDATA | iframe)*>
<!ATTLIST content lang CDATA #REQUIRED>

<!ELEMENT iframe EMPTY>
<!ATTLIST iframe 
    src CDATA #REQUIRED
    title CDATA #REQUIRED
    allowfullscreen CDATA #IMPLIED
    hl CDATA #IMPLIED>